Java/AD JAXB/src/marcadores.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Nov 28 2024 13:58:42 GMT+0100 (hora estándar de Europa central) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="marcadores">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="pagina" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="nombre" type="xs:string"></xs:element>
                                             <xs:element name="descripcion" type="xs:string"></xs:element>
                                             <xs:element name="url" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>